body {
  font-family: Montserrat;
  font-size: 16px;
}

.modal .modal-footer {
  background-color: black;
}

.modal .modal-header {
  background-color: black;
}

.modal .modal-title {
  color: white;
}