$myFontMonserat: Montserrat;
$myFontSize: 16px;

// Тіло
body {
    font-family: $myFontMonserat;
    font-size: $myFontSize;
}

// Тіло

// Модальне вікно корзини
.modal .modal-footer {
    background-color: black;
}

.modal .modal-header {
    background-color: black;
}

.modal .modal-title {
    color: white;
}
// Модальне вікно корзини  


// Випадаючий список кнопки реєстрації
.navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
}

// стилі для кнопки добавити (тільки для адміна)
.add-button {
    visibility: hidden;
}